discord-py-slash-command==3.0.3
discord.py==1.7.3
python-dotenv==0.19.2
mysql-connector-python==8.0.27
cachetools==4.2.4
google-api-python-client==2.35.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
